@import '~bootstrap/scss/bootstrap';


img {
    max-width: 100%;
}


header {

    .navbar {
        .logo {
            img {
                width: 70px;
            }
        }

        .links {
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: black;
                margin-right: 1.5rem;
                padding-bottom: 2rem;
            }

            .active {
                border-bottom: 3px solid #0282F9;
            }
        }

        .search {
            padding-top: .3rem;
            padding-left: 2rem;
            border-bottom: 3px solid #0282F9;
        }
    }
}

main {
    .jumbotron {
        background-image: url('../img/jumbotron.jpg');
        height: 400px;
    }

    .banner {
        h3 {
            text-transform: uppercase;
            color: white;
            background-color: #0282F9;
            padding: 1rem;
            width: 260px;
            position: relative;
            top: 23rem;
            left: 4rem;
        }
    }

    .comics {
        padding: 5rem 0;

        .my-card {
            img {
                width: 250px;
                height: 280px;
            }
        }
    }
}