@import '~bootstrap/scss/bootstrap';



header {

    .navbar {
        .logo {
            img {
                width: 70px;
            }
        }

        .links {
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: black;
                margin-right: 1.5rem;
                padding-bottom: 2rem;
            }

            .active {
                border-bottom: 3px solid blue;
            }
        }

        .search {
            padding-top: .3rem;
            padding-left: 2rem;
            border-bottom: 3px solid blue;
        }
    }
}